@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    font-family: "Quicksand";
}
.form{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.form .input label{
    text-align: left;
        display: block;
}
.form input,
.form select{
    width: 50%;
    padding: 6px 14px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    /* display: flex;  */
        
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.form button{
border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    padding: 8px;
    cursor: pointer;
    border: 0px;
    color: white;
    border-radius: 8px;
    background: #001b5e;
    transition: all .5s;
}
.form h2{
    font-size: 20px;
    color: #001b5e;
    margin-bottom: 30px;
    margin-top: 10px;
}
.form button:hover{
    transform: scale(1.1);
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

.table1 h2{
    font-size: 20px;
        color: #001b5e;
        margin-bottom: 30px;
        margin-top: 10px;
        margin-left: 60px;
}

 table th{
    font-weight: 300;
    font-size: 20px;
    color: #001b5e;
}
table td,
table th {
    border: 1px solid #8b8b8b;
    padding: 8px;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: start;  
}


.navbar h2 {
    color: #001b5e;
    font-size: 20px;
    
}
.navbar .links {
    margin-right: 4rem;
    float: right;
}
.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    transition: all .5s linear;
}
.navbar a:hover{
    transform:scale(1.1) ;
    color: #f80101;
}
